
header {
  text-align:center;
}
a {
  color: rgb(65,75,86);
}
h1{
  font-size: 70px;
}
ul {
  padding: 10px;
}
li {
  display:inline;
  padding: 0px 10px 0px 10px;
}
body {
  color: rgb(65,75,86);
}
img {
  height: 200px;
  width: 400px;
}
p{
  text-align: center;
}
