
header {
  text-align:center;

}
a {
  color: rgb(65,75,86);
}
h1{
  font-size: 70px;
}
ul {
  padding: 10px;
}
li {
  display:inline;
  padding: 0px 10px 0px 10px;
}
body {
  margin: 0;
  color: rgb(65,75,86);
}
img {
  height: 200px;
  width: 400px;
}
p{
  text-align: left-align;
}
body {
  background-color: rgb(255,244,233);
  background-color: hsl(30,100%, 96%);
}
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}








.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
