
header {
  text-align:center;
  padding: 20px;

}
a {
  color: rgb(65,75,86);
}
h1{
  font-size: 70px;
}
ul {
  padding: 10px;
}
li {
  display:inline;
  padding: 0px 10px 0px 10px;
  border-style:none;
}


body {
  margin: 0;
  color: rgb(70,75,86);
}
img {
  height: 200px;
  width: 400px;
}
p{
  text-align: left-align;
}
body {
  background-color: rgb(255,244,190);

}
* {
  box-sizing: border-box;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolomn {
  float:left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width:100%;
  padding: 20px;
}

.card {
  background-color: rgb(255,244,150);
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }






.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.fa {
  padding: 30px;
  font-size: 30px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 60px 90px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #f40083;
  color: white;
}
